<hr>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3" style="padding-left: 100px" >

        <!-- Content -->
        <h5 class="text-uppercase">About Us</h5>
        <p>
          Founded in 1906, Walt's Wears has provided its customers with the finest in mens wears. Blah Blah Blah Blah Blah
          Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Important Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Our Team</a>
          </li>
          <li>
            <a href="#!">Locations</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
          <li>
            <a href="#!">Customer Service</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Legal</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms of Use</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Security and Fraud</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


  <div class="footer-copyright text-center py-3">
    <!-- Social media links -->
    <div class="socials-container">
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/" class="fa fa-twitter"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
      <a href="https://www.snapchat.com/" class="fa fa-snapchat-ghost"></a>
    </div>
    <!-- Copyright -->
    <div>
      <div class="copyrigth" style="background-color: black; color: white; margin-left: 100px; margin-right: 100px; ">
        © 2022 Copyright :
        <img style="height: 40px; padding-bottom: 3px; padding-top: 3px;" src="../assets/logo.jpg">
      </div>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
